/*
    Author: Muzhda Ehsan & Chibueze Momah
    Date: 26-01-2021
    File: app.css
*/

 


h1{
    color:black;
    text-decoration: underline;
    text-align: center;
}

 

h2{
    color:white;
    text-align: left;
    text-shadow: 2px 2px #000000;
}

 

p{
    color:white;
    font-size: large;
    text-shadow: 2px 2px #000000;
}

 

img.self-img{
  max-width: 400px;
}